@model IEnumerable<LoginProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
else if (TempData["loggedin"] != null)
{
    <h2>@TempData["loggedin"]</h2>
}
else if (TempData["deleted"] != null)
{
    <h2>@TempData["deleted"]</h2>
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeepLoggedIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
